.form__input{
    margin-left: 20px;
    width: 300px;
    font-size: 24px;
}

.form__block{
    margin: 20px 0 20px 0;
}

.form__textarea{
    resize: none;
    background-color: transparent;
    font-size: 20px;
    color: gray;
}