.catalog{
    margin: 40px auto;
    width: 1400px;
}

.catalog__filters{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.catalog__search-box{
    align-self: flex-end;
    height: 50px;
    font-size: 24px;
    border: 2px solid gray;
    color: white;
}

.catalog__button{
    margin-left: 10px;
    align-self: flex-end;
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.catalog__button:hover{
    transition: 0.7s;
    color: #4dc3ff;
    border-color: #4dc3ff;
}

.catalog__price-range{
    margin-left: 10px;
    font-size: 18px;
}

.catalog__price-input{
    width: 70px;
    font-size: 24px;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.catalog__rating-checkbox{
    margin-left: 20px;
    align-self: flex-end;
    font-size: 24px;
}

.catalog__sorts{
    padding-left: 20px;
    align-self: flex-end;
    font-size: 18px;
}

.catalog__sort-link{
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.catalog__sort-link:hover{
    transition: 1s;
    color: #4dc3ff;
}

.catalog__reset-button{
    width: 200px;
}

.catalog__items{
    display: flex;
    flex-direction: column;
}

.catalog__item{
    margin: 10px 0 10px 0;
    padding-bottom: 20px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}

.catalog__title{
    margin-bottom: 0;
    font-size: 48px;
    font-weight: bold;
}

.catalog__publisher{
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
}

.catalog__description{
    padding: 0 20px 0 20px;
    font-size: 18px;
    text-align: left;
    word-wrap: break-word;
}

.catalog__price{
    margin-right: 20px;
    font-size: 18px;
    color: #4dc3ff;
}

.catalog__basket-button{
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.catalog__basket-button:hover{
    transition: 0.5s;
    color: #4dc3ff;
    border-color: #4dc3ff;
}

.catalog__pages{
    font-size: 24px;
}