.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__link{
    margin: 0 10px 0 10px;
    padding: 10px;
    border-bottom: 2px solid gray;
    border-radius: 5px;
    font-size: 18px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.header__link:hover{
    transition: 0.7s;
    border-bottom: 2px solid #4dc3ff;
    color: #4dc3ff;
}